<nav class="navbar navbar-expand-lg navbar-light bg-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"  [routerLink]="'deal'">Oferta</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'buy-option'">Opção de compra</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="'deal-search'">Busca de ofertas</a>
      </li>
    </ul>
  </div>
</nav>
